body {
	font-size: 16px;
	color: white;
	font-family: Helvetica;
}

header {
	background-color: black;
	color: white;
	width: 100%;
	height: 50px;
	padding: 12px 0px 12px 0.5em;
	font-weight: bold;
}

.container {
	max-width: 960px;
	margin: 0 auto;
}

.logo {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.logo img {
	padding-right: 15px;
}

.main-banner {
	background-image: url(../images/moto.jpeg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 25em;
}

.banner-text {
	background-color: black;
	color: white;
	width: 20em;
	position: relative;
	padding: 2em 3em;
	top: 9em;
	font-weight: bold;
}

.banner-text h1 {
	font-size: 2em;
	margin: 0.25em 0;
}

nav {
	background-color: red;
	color: white;
}

nav ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.75em 0;
}

nav ul li {
	display: list-item;
}

nav ul li a {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

.highlights {
	background-color: white;
	color: black;
}

.items {
	display: flex;
	justify-content: space-between;
	margin: 3em 0 0 0;
}

.item {
	width: 30%;
}

.item-image {
	border: 4px solid black;
	height: 9em;
	padding: 2em 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.item img {
	max-width: 8em;
}

.item-name {
	text-align: center;
	background-color: black;
	color: white;
	font-weight: bold;
	padding: 1em 0;
}

.infos {
	display: flex;
	justify-content: space-between;
	margin: 2em 0;
}

.info{
	width: 35%;
	margin: 2em 0;	
}

.info .attribute {
	background-color: black;
	color: white;
	font-weight: bold;
	padding: 1em 0 1em 1.5em;
}

.info .value {
	padding: 1em 0;
}

footer {
	background-color: black;
	color: white;
	padding: 4em 0;
}

footer p {
	opacity: 0.7;
}